<div class="auth-wrapper">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h3 class="h3 mb-3 font-weight-normal text-center">Sign in</h3>
        <!-- Errors -->
        <div *ngIf="errors?.email" class="alert alert-danger mt-3">
            {{ errors?.email }}
        </div>
        <div *ngIf="errors?.password" class="alert alert-danger mt-3">
            {{ errors?.password }}
        </div>
        <div *ngIf="errors?.error" class="alert alert-danger mt-3">
            {{ errors?.error }}
        </div>



  <p class="h1 mt-5 ms-5 mb-5 text-center">Entrar</p>

  <div class="row w-100  justify-content-center">
    <div class="col-2 ms-5">
        <input type="email" class="form-control" formControlName="email" placeholder="Correo">

  </div>
  <div class="col-2">
    <input type="password" class="form-control" formControlName="password" placeholder="Contraseña">
</div>
  <div class="col-1">
    <button type="submit" click="(onSubmit)" class="btn btn-block btn-primary">Log in</button>
</div>
