<div class="container mt-5">
    <h1>Angular 13 CRUD Example - ItSolutionStuff.com</h1>
  
    <a href="#" routerLink="/peticion/create/" class="btn btn-success">Create New Post</a>
    
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>titulo</th>
        <th>descripcion</th>
        <th>destinatario</th>
        <th>categoria_id</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let peticion of peticiones">
        <td>{{ peticion.id }}</td>
        <td>{{ peticion.titulo }}</td>
        <td>{{ peticion.descripcion }}</td>
        <td>{{ peticion.destinatario }}</td>
        <td>{{ peticion.categoria_id }}</td>
        <td>
          <a href="#" [routerLink]="['/peticion/', peticion.id, 'view']" class="btn btn-info">View</a>
          <a href="#" [routerLink]="['/peticion/', peticion.id, 'edit']" class="btn btn-primary">Edit</a>
          <button type="button" (click)="deletePeticion(peticion.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
 </div>