<div class="auth-wrapper">
  <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h3 class="h3 mb-3 font-weight-normal text-center">Register User</h3>
    <!-- Errors -->
    <div *ngIf="errors?.name" class="alert alert-danger mt-3">
      {{ errors?.name }}
    </div>
    <div *ngIf="errors?.email" class="alert alert-danger mt-3">
      {{ errors?.email }}
    </div>
    <div *ngIf="errors?.password" class="alert alert-danger mt-3">
      {{ errors?.password }}
    </div>
    <div *ngIf="errors?.password_confirmation" class="alert alert-danger mt-3">
      {{ errors?.password_confirmation }}
    </div>
    <!-- Signup form -->
  


<p class="h1 mt-5 mb-4 text-center">Registro</p>


<div class="row w-100 justify-content-center ms-1 mb-3">
  <div class="col-3">
    <input type="text" class="formcontrol" formControlName="name" placeholder="nombre" />
  </div>
</div>

<div class="row w-100  justify-content-center mb-3 ms-1">
  <div class="col-3">
    <input type="email" class="formcontrol" formControlName="email" placeholder="email"/>
  </div>
</div>
<div class="row w-100 justify-content-center mb-3 ms-1">
  <div class="col-3">
    <input type="password" class="formcontrol" formControlName="password" placeholder="contraseña"/>
  </div>
</div>
<div class="row justify-content-center mt-4 mb-3">
  <div class="col-1">
    <button type="submit " class="btn btn-primary">Registrarme</button>
  </div>
</div>
